# =========================
# Frappe / Bench
# =========================
frappe-bench/sites/*
!frappe-bench/sites/.gitkeep

frappe-bench/env/
frappe-bench/apps/frappe/
frappe-bench/apps/payments/
frappe-bench/apps/lms/

frappe-bench/logs/
frappe-bench/config/
frappe-bench/Procfile

# Archivos generados
frappe-bench/sites/assets/
frappe-bench/sites/*/private/files/
frappe-bench/sites/*/public/files/

# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS & Logs
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp